{%load static%}

<!--Posts Section-->
<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="{%static "blog/images/mountains.jpg"%}" alt="Mountain Hiking">
                    <div class="post__content">
                        <h3>Mountain Hiking</h3>
                        <p>There's nothing like the view you get when hiking in the mountains! And I wasn't event prepared
                            for what happened whilst I was enjoying the view!
                        </p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>